In [1]:
import numpy as np
import nvector as nv
import pandas as pd
import osmnx as ox
import osmapi as osm
import networkx as nx
import matplotlib.pyplot as plt


def cross_track_dist(latA1,lonA1,latA2,lonA2,latB,lonB):
    frame = nv.FrameE(a=6371e3, f=0)
    
    
    
    
    
    pointA1 = frame.GeoPoint(latA1, lonA1, degrees=True)
    pointA2 = frame.GeoPoint(latA2, lonA2, degrees=True)
    pointB = frame.GeoPoint(latB, lonB, degrees=True)
    pathA = nv.GeoPath(pointA1, pointA2)

    s_xt = pathA.cross_track_distance(pointB, method='greatcircle')
    d_xt = pathA.cross_track_distance(pointB, method='euclidean')
    
    if(s_xt<0):
        s_xt=-1*s_xt
    
    val_txt = '{:4.2f}'.format(s_xt/1000)
    #'Cross track distance: s_xt, d_xt = {}'.format(val_txt)
    return val_txt

In [2]:
datafile="/home/shekhar/Desktop/UIUC_Project3/Analysis/Test_Pairs.csv"
df = pd.read_csv(datafile,sep=',')
#df.dropna(how='all', axis='columns')
df = df.loc[:, ~df.columns.str.contains('^Unnamed')]
#print(df.head(10))
a,b=float(df.iloc[0][1]),float(df.iloc[0][2])
#print(a,b)
df=df.drop('760',axis=1)
df=df.replace([' '],[np.nan])
print(df.iloc[0][2])

23.733420000000002

In [3]:
i=0
j=1
G = ox.graph_from_point((a,b), network_type='drive', dist=800, simplify=True)

while i < 9:
    j=1
    while j < 252:
        if(df.iloc[i][j]!=np.nan):
            latB=float(df.iloc[i][j])
            lonB=float(df.iloc[i][j+1])
            #print(latB,lonB)
            surrounding_nodes = ox.get_nearest_edge(G,(latB,lonB))
            latA1= G.nodes[surrounding_nodes[0]]['y']
            lonA1= G.nodes[surrounding_nodes[0]]['x']
            latA2= G.nodes[surrounding_nodes[1]]['y']
            lonA2= G.nodes[surrounding_nodes[1]]['x']
            df.iat[i,j]=float(cross_track_dist(latA1,lonA1,latA2,lonA2,latB,lonB))
            #print(df.iat[i,j])
        j=j+2
    i=i+1        
#df=df.replace(['nan,nan',' ,nan'],[np.nan,np.nan])
df.head(10)



#df.dropna(axis='columns',how='all')
#df.head()
#fig, ax = ox.plot_graph(G, show=False, close=False)
#plt.show()
#plt.savefig('./sample_map.png')
#fig.savefig('/home/shekhar/Desktop/UIUC_Project3/Analysis/sample_map.png')

,type,4,5,10,11,16,17,22,23,28,...,730,731,736,737,742,743,748,749,754,755
0,Car,0.00,23.733420,0.00,23.733419,0.00,23.733418,0.00,23.733418,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Car,0.00,23.733423,0.00,23.733422,0.00,23.733420,0.00,23.733418,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Motorcycle,0.01,23.733389,0.01,23.733385,0.01,23.733382,0.01,23.733378,0.01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Car,0.00,23.733475,0.00,23.733474,0.00,23.733474,0.00,23.733473,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Car,0.01,23.733493,0.01,23.733493,0.01,23.733492,0.01,23.733491,0.01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Motorcycle,0.01,23.733487,0.01,23.733484,0.01,23.733481,0.01,23.733478,0.01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Motorcycle,0.00,23.733595,0.00,23.733594,0.00,23.733593,0.00,23.733592,0.00,...,0.0,23.733434,0.0,23.733432,0.0,23.733431,0.0,23.733429,0.0,23.733427
7,Motorcycle,0.00,23.733554,0.00,23.733550,0.00,23.733546,0.00,23.733542,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Car,0.00,23.733546,0.00,23.733543,0.00,23.733541,0.00,23.733538,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df.head(10)
#df.drop(df.iloc[:, 5:755:2], inplace = True, axis = 1) 
df.head(10)

,type,4,5,10,11,16,17,22,23,28,...,730,731,736,737,742,743,748,749,754,755
0,Car,0.00,23.733420,0.00,23.733419,0.00,23.733418,0.00,23.733418,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Car,0.00,23.733423,0.00,23.733422,0.00,23.733420,0.00,23.733418,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Motorcycle,0.01,23.733389,0.01,23.733385,0.01,23.733382,0.01,23.733378,0.01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Car,0.00,23.733475,0.00,23.733474,0.00,23.733474,0.00,23.733473,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Car,0.01,23.733493,0.01,23.733493,0.01,23.733492,0.01,23.733491,0.01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Motorcycle,0.01,23.733487,0.01,23.733484,0.01,23.733481,0.01,23.733478,0.01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Motorcycle,0.00,23.733595,0.00,23.733594,0.00,23.733593,0.00,23.733592,0.00,...,0.0,23.733434,0.0,23.733432,0.0,23.733431,0.0,23.733429,0.0,23.733427
7,Motorcycle,0.00,23.733554,0.00,23.733550,0.00,23.733546,0.00,23.733542,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Car,0.00,23.733546,0.00,23.733543,0.00,23.733541,0.00,23.733538,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
df2=df.copy(deep=False)

In [19]:
df2.head(10)

,type,4,5,10,11,16,17,22,23,28,...,730,731,736,737,742,743,748,749,754,755
0,Car,0.00,23.733420,0.00,23.733419,0.00,23.733418,0.00,23.733418,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Car,0.00,23.733423,0.00,23.733422,0.00,23.733420,0.00,23.733418,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Motorcycle,0.01,23.733389,0.01,23.733385,0.01,23.733382,0.01,23.733378,0.01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Car,0.00,23.733475,0.00,23.733474,0.00,23.733474,0.00,23.733473,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Car,0.01,23.733493,0.01,23.733493,0.01,23.733492,0.01,23.733491,0.01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Motorcycle,0.01,23.733487,0.01,23.733484,0.01,23.733481,0.01,23.733478,0.01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Motorcycle,0.00,23.733595,0.00,23.733594,0.00,23.733593,0.00,23.733592,0.00,...,0.0,23.733434,0.0,23.733432,0.0,23.733431,0.0,23.733429,0.0,23.733427
7,Motorcycle,0.00,23.733554,0.00,23.733550,0.00,23.733546,0.00,23.733542,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Car,0.00,23.733546,0.00,23.733543,0.00,23.733541,0.00,23.733538,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
df2.drop(df2.iloc[:, 2:755:2], inplace = True, axis = 1)

df2.head(10)

,type,4,10,16,22,28,34,40,46,52,...,700,706,712,718,724,730,736,742,748,754
0,Car,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Car,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Motorcycle,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Car,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Car,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Motorcycle,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Motorcycle,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,Motorcycle,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Car,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
df2.to_csv("/home/shekhar/Desktop/UIUC_Project3/Analysis/Check_Results.csv")