In [2]:
import warnings
warnings.filterwarnings("ignore", category=DeprecationWarning)

In [3]:
import osmnx as ox
import pandas as pd
import numpy as np
from Data import Data 
import networkx as nx
from networkx import algoritms

In [28]:
graph = ox.graph_from_address('Athens, Municipality of Athens, Regional Unit of Central Athens, Attica, 10667, Greece')

In [44]:
# we do not want to not include taxis in our analysis.
df = pd.read_pickle("sample.pkl")
X = df.copy()
X

                lat        lon    speed  lon_acc  lat_acc  type  traveled_d  \
id time
1  0.00   37.977482  23.735405  34.0206  -0.0167   0.0074  Taxi      320.26
   0.04   37.977485  23.735402  34.0197   0.0040   0.0086  Taxi      320.26
   0.08   37.977488  23.735400  34.0211   0.0167   0.0097  Taxi      320.26
   0.12   37.977491  23.735398  34.0245   0.0294   0.0108  Taxi      320.26
   0.16   37.977494  23.735395  34.0305   0.0540   0.0120  Taxi      320.26
...             ...        ...      ...      ...      ...   ...         ...
5  29.24  37.979836  23.733313  36.8072  -3.7893   1.1652   Car      272.25
   29.28  37.979838  23.733311  36.4768  -3.8277   1.1690   Car      272.25
   29.32  37.979841  23.733309  36.1375  -3.8118   1.1665   Car      272.25
   29.36  37.979844  23.733306  35.7859  -3.8818   1.1568   Car      272.25
   29.40  37.979847  23.733304  35.4092  -4.0068   1.1387   Car      272.25

          avg_speed
id time
1  0.00   35.366264
   0.04   35.366264
   0.08   35.366264
   0.12   35.366264
   0.16   35.366264
...             ...
5  29.24  33.336716
   29.28  33.336716
   29.32  33.336716
   29.36  33.336716
   29.40  33.336716

[3460 rows x 8 columns]

In [45]:
nodes = ox.distance.get_nearest_nodes(graph, X['lat'], X['lon'], method=None)
edges = ox.distance.get_nearest_edges(graph, X['lat'], X['lon'], method=None)

In [51]:
def Distance_achieved(edge_node1,edge_node2,vehicle_location):
    #assuming that edge_node1 is the starting point
    a = nx.algorithms.shortest_paths.generic.shortest_path_length(graph, edge_node1, achieved_node)
    b = nx.algorithms.shortest_paths.generic.shortest_path_length(graph, edge_node1, edge_node2)
    return a/b

(3460,)